@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@900&display=swap");

:root {
  --hlc-magenta: #782679;
  --hlc-blue: #356676;
  --hlc-yellow: #f19c3d;
  --hlc-brown: #a38e7d;
  --hlc-green: #42722c;
  --hlc-dark-green: #222e1b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.container {
  @apply m-auto;
  max-width: 1000px;
}